/* .bg {
    background-image: url("../images/abstract-asymmetry-botanical-1048033.jpg");
    /* background-position: center; 
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
} */

body {
    background-image: url("../images/newerHomepage.PNG");
    /* background-position: center; */
    background-size: cover;

    background-repeat: no-repeat;
    /* height: 100vh; */
    z-index: -1;

    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* Full height */
    height: 100%;
}

.overlay2 {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to top right, #a06a37 20%, #428648 100%);
    opacity: 0.55;
    z-index: 1;
}

.bg-text {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.enter-button {
    font-size: 175%;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.enter-button:hover {
    font-size: 175%;
    font-weight: bolder;
    background-image: linear-gradient(to top left, #5f37a0, #eea859);
    width: 200px;
    box-shadow: 10px, 6px, black;
}

#about-me {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom right, #a06a37 20%, #428648 100%);
    opacity: 0.55;
    z-index: 1;
}

